{% extends "www/bases/base.html" %}
{% load compress static %}

{% block title %}django-unicorn{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% compress css %}
<link res="stylesheet" href="{% static 'css/main.css' %}">
{% comment %} <style>
    .hljs {
        background: transparent !important;
        color: #000 !important;
    }
</style> {% endcomment %}
{% endcompress %}
{% endblock styles %}

{% block content %}

<section class="container">

    <div class="intro column is-8 is-offset-2 my-6">
        <h2 class="title">Articles</h2>
        <br>

        <p class="pb-4">
            If quickly spinning up interactivity in your Django site isn't appealing enough (or you <em>actually</em> need a real frontend framework), here are some articles detailing the work required to use Django and a dedicated fullstack framework.
        </p>

        <ul>
            <li>
                <a href="https://janowski.dev/blog/2020/7/23/creating-do-list-app-django-drf-alpinejs-and-axios/">Creating A To-Do List App With Django, Drf, Alpine.Js And Axios</a>
            </li>
            <li>
                <a href="https://tkainrad.dev/posts/use-vuejs-with-django/">Using VueJS alongside Django</a>
            </li>
            <li>
                <a href="https://pascalw.me/blog/2020/04/19/webpack-django.html">Using Webpack with Django: no plugins required!</a>
            </li>
            <li>
                <a href="https://github.com/EugeneDae/django-vue-cli-webpack-demo">Django + Vue CLI + Webpack demo</a>
            </li>
        </ul>

    </div>
</section>

{% endblock content %}