{% extends "www/bases/base.html" %}
{% load compress static unicorn %}

{% block title %}django-unicorn{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% compress css %}
<link res="stylesheet" href="{% static 'css/main.css' %}">
<style>
    .hljs {
        background: transparent !important;
        color: #000 !important;
    }

    .mt-12 {
        margin-top: 6rem;
    }
</style>
{% endcompress %}
{% endblock styles %}

{% block content %}

{% csrf_token %}
{% unicorn_scripts %}

<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                django-unicorn
            </h1>
            <h2 class="subtitle">
                A magical fullstack framework for Django ✨
            </h2>
        </div>
    </div>
</section>

<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">New</span> Version 0.2.2 is now released. See the <a
            href="{% url 'www:documentation' 'changelog' %}">changelog</a> for details on breaking changes from 0.1.0.
    </p>
</div>

<section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img src="{% static 'img/layout.svg' %}" class="pt-4">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Add interactive elements easily</h4>
                        <p>
                            Don't wrestle with a frontend framework just for a few pieces of standard website
                            functionality. Quickly add in simple interactions with standard Django templates and an
                            intuitive server-side class.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img src="{% static 'img/watch.svg' %}" class="pt-4">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Skip the separate Node.js watcher</h4>
                        <p>
                            Fighting with your Gulp/Grunt/Webpack configuration is a lot of fun, but might not be the
                            best use of time. Skip dealing with the latest new frontend framework and use the Django
                            skills you already know and love.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img src="{% static 'img/zap.svg' %}" class="pt-4">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Don't build out an API if you don't need it</h4>
                        <p>
                            <em>Django REST framework</em> handles a lot of the hard parts of building a whole REST
                            API interface, but it is still complicated and <strong>another</strong> framework to learn
                            and understand. Skip it and use the powerful Django ORM just like you do for server-side
                            applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro column is-8 is-offset-2 mt-12">
        <div>
            <h2 class="title">Example click counter component</h2>

            {% unicorn 'clicks' %}

            {% verbatim %}
            <pre data-lang="html"><code class="language-html">&lt;!-- clicks.html --&gt;
&lt;div&gt;
    &lt;button class="button is-danger" unicorn:click="subtract"&gt;-&lt;/button&gt;
    &lt;input class="input" type="text" unicorn:model="clicks" value="{{ count }}" readonly&gt;&lt;/input&gt;
    &lt;button class="button is-success" unicorn:click="add"&gt;+&lt;/button&gt;
&lt;/div&gt;</code></pre>
            {% endverbatim %}

        </div>
        <div class="mt-4">
            {% verbatim %}
            <pre data-lang="python"><code class="language-python"># clicks.py
from django_unicorn.components import UnicornView


class ClicksView(UnicornView):
    count = 0

    def add(self):
        self.count += 1

    def subtract(self):
        self.count -= 1</code></pre>
            {% endverbatim %}

        </div>

        <div class="mt-4">
            <p class="mb-1">
                Then, include the component in a Django template.
            </p>

            {% verbatim %}
            <pre data-lang="html"><code class="language-html">&lt;!-- index.html --&gt;
{% unicorn 'clicks' %}</code></pre>
            {% endverbatim %}
        </div>

        <div class="mt-4">
            <p>
                See more <a href="{% url 'www:documentation' %}">documentation</a> about how to use
                <code>django-unicorn</code>.
            </p>
        </div>        

        <div class="mt-12">
            <h2 class="title">Using other frontend frameworks</h2>

            <p>
                Not convinced using <code>django-unicorn</code> is for you? Check out some <a href="{% url 'www:articles' %}">articles</a> elaborating how to use Django with more complicated 
                frontend frameworks.
            </p>
        </div>
    </div>
</section>

{% endblock content %}