{% extends "www/bases/base.html" %}
{% load compress static unicorn utils %}

{% block title %}django-unicorn{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% compress css %}
<link res="stylesheet" href="{% static 'css/main.css' %}">
<style>
    .hljs {
        background: transparent !important;
        color: #000 !important;
    }

    .mt-12 {
        margin-top: 6rem;
    }
</style>
{% endcompress %}
{% endblock styles %}

{% block content %}

{% csrf_token %}
{% unicorn_scripts %}

<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container">
            <img src="{% static 'img/unicorn.svg' %}" height="80" width="80" style="float: left; height: 80px; top: -10px; position: relative; margin-right: 20px;" />
            <div>
                <h1 class="title">
                    django-unicorn
                </h1>
                <h2 class="subtitle">
                    A magical fullstack framework for Django ✨
                </h2>
            </div>
        </div>
    </div>
</section>

<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">New</span> Version <strong>0.6.0</strong> is now released. 🎉 See the <a
            href="{% url 'www:documentation' 'changelog' %}">changelog</a> for new features.
    </p>
</div>

<section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img src="{% static 'img/layout.svg' %}" class="pt-4">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Add modern site functionality easily</h4>
                        <p>
                            Quickly add in simple interactions to regular Django templates without learning a new templating language.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img src="{% static 'img/watch.svg' %}" class="pt-4">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Skip the Javascript build tools</h4>
                        <p>
                            Stop fighting with a new Javascript build tool and separate process to use yet another frontend framework.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img src="{% static 'img/zap.svg' %}" class="pt-4">
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>No API required</h4>
                        <p>
                            Building a complete API is complicated and complex. Skip creating a bunch of serializers and just use Django.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro column is-8 is-offset-2 mt-12">
        <div>
            <h2 class="title">Create your first component</h2>

            <ol>
                <li><a href="{% url 'www:documentation' 'installation' %}">Install</a> <code>django-unicorn</code> into your project</li>
                <li><a href="{% url 'www:documentation' 'components' %}">Create</a> a component</li>
                <li>Add the component to your template</li>
                <li>🎉</li>
            </ol>
        </div>
    </div>

    <div class="intro column is-8 is-offset-2 mt-12">
        <div>
            <h2 class="title">Example todo component</h2>

            <div class="content mb-6">
                {% unicorn 'todo-bulma' %}
            </div>

            <h4 class="subtitle">Code for the todo component</h4>
            {% verbatim %}<pre data-lang="html"><code class="language-html">&lt;!-- unicorn/templates/unicorn/todo.html --&gt;
&lt;div&gt;
    &lt;input type=&quot;text&quot; unicorn:model=&quot;task&quot; placeholder=&quot;New task&quot; id=&quot;task&quot;&gt;&lt;/input&gt;
    &lt;button unicorn:click=&quot;add&quot;&gt;Add&lt;/button&gt;
    &lt;button unicorn:click=&quot;reset&quot;&gt;Clear all tasks&lt;/button&gt;

    &lt;p&gt;
        {% if tasks %}
        &lt;ul&gt;
            {% for task in tasks %}
            &lt;li&gt;{{ task }}&lt;/li&gt;
            {% endfor %}
        &lt;/ul&gt;
        {% else %}
        No tasks 🎉
        {% endif %}
    &lt;/p&gt;
&lt;/div&gt;</code></pre>{% endverbatim %}

            <br />
            
            <pre data-lang="python"><code class="language-python"># unicorn/components/todo.py
from django_unicorn.components import UnicornView


class TodoView(UnicornView):
    task = ""
    tasks = []

    def add(self):
        self.tasks.append(self.task)
        self.task = ""</code></pre>
        </div>

        <div class="mt-4">
            <p class="mb-1">
                Then, include the component in a Django template.
            </p>

            {% verbatim %}
            <pre data-lang="html"><code class="language-html">&lt;!-- index.html --&gt;
{% unicorn 'todo' %}</code></pre>
            {% endverbatim %}
        </div>

        <div class="mt-4">
            <p>
                Other <a href="{% url 'www:documentation' 'examples' %}">example components</a>. Or read all of the <a href="{% url 'www:documentation' %}">documentation</a> about how to use <code>django-unicorn</code>.
            </p>
        </div>

        <div class="mt-12">
            <h2 class="title">Wait, is this magic?</h2>

            <p>
                Sort of! At least it might feel like it. 🤩
            </p>

            <div class="content">
                <ul>
                    <li><code>django-unicorn</code> progressively enhances a normal Django view, so the initial render of components is <strong>fast</strong> and great for <strong>SEO</strong>.
                    <li>Next, <code>django-unicorn</code> binds to the elements you specify and automatically makes AJAX calls when needed.</li>
                    <li>Then, <code>django-unicorn</code> dynamically updates the DOM.</li>
                </ul>

                <p>
                    The end result is that you can focus on writing regular Django templates and simple Python classes without needing to switch to another language or build unnecessary plumbing. Best of all, the Javascript portion of the library is around <strong>13 KB minified</strong> (<strong>around 5 KB</strong> gzipped).
                </p>
            </div>
        </div>

        <div class="mt-12">
            <h2 class="title">Using other frontend frameworks with Django</h2>

            <p>
                Not convinced using <code>django-unicorn</code> is for you? Check out some <a href="{% url 'www:articles' %}">more details and other approaches on how to integrate Django with the frontend</a>.
            </p>
        </div>

        <div class="mt-4" style="text-align: center;">
            <img src="{% static 'img/unicorn-mono.svg' %}" height="80" width="80" />
        </div>
    </div>
</section>

{% endblock content %}