{% extends "www/bases/base.html" %}
{% load compress static unicorn utils %}

{% block title %}Sponsors - Unicorn{% endblock title %}

{% block styles %}

{% compress css %}
<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
<link res="stylesheet" href="{% static 'css/main.css' %}">
{% endcompress %}

{% endblock styles %}

{% block content %}

<section class="container pt-4">
    <div class="columns features">
        <div class="column">
            <p class="mt-2">
                <code>Unicorn</code> appreciates all GitHub sponsors who help to encourage continued development.  
            </p>

            <p class="has-text-centered mt-4">
                <a href="https://github.com/sponsors/adamghill" class="button is-link">Sponsor @adamghill</a>
            </p>

            <h3 class="title is-5 mt-6">Individual Advocates</h3>

            <ul>
               <li><a href="https://github.com/vnnw">vnnw</a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock content %}