{% extends "www/bases/base.html" %}
{% load compress static unicorn utils %}

{% block title %}Installation Screencast - Unicorn{% endblock title %}

{% block styles %}

{% compress css %}
<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
<link res="stylesheet" href="{% static 'css/main.css' %}">
{% endcompress %}

{% endblock styles %}

{% block content %}

<section class="container pt-4">
    <div class="columns features">
        <div class="column">
            <p> 
                <iframe src="https://player.vimeo.com/video/494214339" width="640" height="362" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </p>
        </div>
    </div>
</section>

{% endblock content %}