{% extends "www/bases/examples.html" %}
{% load unicorn utils %}

{% block subtitle %}Todo{% endblock subtitle %}

{% block example_title %}Todo{% endblock example_title %}

{% block example_content %}
{% unicorn 'todo' %}
{% endblock example_content %}

{% block example_source %}
<pre data-lang="html"><code class="language-html">{% code_include 'unicorn/templates/unicorn/todo.html' %}</code></pre>
<pre data-lang="python"><code class="language-python">{% code_include 'unicorn/components/todo.py' %}</code></pre>
{% endblock example_source %}
