{% load compress static %}<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% block subtitle %}{% endblock subtitle %} - django-unicorn{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="icon" href="{% static 'img/favicon.svg' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600">

    {% block styles %}{% endblock styles %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'highlight.js/10.1.1/styles/solarized-light.css' %}">
    {% endcompress %}

    <script async defer data-domain="django-unicorn.com" src="https://plausible.io/js/plausible.js"></script>

    {% compress js %}
    <script src="{% static 'highlight.js/10.1.1/highlight.pack.js' %}"></script>
    {% endcompress %}

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #fafafa;">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>django-unicorn ✨</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <!-- <div class="navbar-start">
                <a class="navbar-item" href="{% url 'www:documentation' %}">
                Documentation
                </a>
                <a class="navbar-item" href="">
                    Screenshares
                </a>
            </div> -->

            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'www:documentation' %}">
                    <img src="{% static 'img/book.svg' %}" style="max-height: 1.5em;" />&nbsp;Documentation
                </a>
                {% comment %}
                <a class="navbar-item" href="https://github.com/adamghill/django-unicorn/">
                    <!-- <span class="is-hidden-tablet">
                        <img src="{% static 'img/github.svg' %}" style="max-height: 1.5em;" />&nbsp;Github
                    </span>
                    <span class="is-hidden-mobile" style="padding-top: 6px;">
                        <img src="https://img.shields.io/github/stars/adamghill/django-unicorn.svg?style=for-the-badge&label=GitHub&logo=github" />
                    </span> -->
                    <img src="{% static 'img/github.svg' %}" style="max-height: 1.5em;" />&nbsp;Github
                </a>
                {% endcomment %}

                <span style="margin-top: .8rem; margin-right: .8rem;">
                    <!-- <a class="github-button" href="https://github.com/sponsors/adamghill" data-icon="octicon-heart" data-size="large" aria-label="Sponsor @adamghill on GitHub">Sponsor</a> -->
                    <a class="navbar-item github-button" href="https://github.com/adamghill/django-unicorn" data-size="large" data-show-count="true" aria-label="Star adamghill/django-unicorn on GitHub">Star</a>
                </span>
            </div>
        </div>
    </nav>

    <main>
        {% block sidebar %}{% endblock sidebar %}

        {% block content %}{% endblock content %}

        <footer class="footer mt-4">
            <div class="container">
                <div class="columns">
                    <div class="column is-2 is-offset-2">
                        <ul>
                            <li>
                                <img src="{% static 'img/book.svg' %}" style="max-height: 1em;" />
                                <a href="{% url 'www:documentation' %}">Documentation</a>
                            </li>
                            <li>
                                <img src="{% static 'img/tool.svg' %}" style="max-height: 1em;" />
                                <a href="{% url 'www:documentation' 'changelog' %}">Changelog</a>
                            </li>
                            <li>
                                <img src="{% static 'img/link.svg' %}" style="max-height: 1em;" />
                                <a href="{% url 'www:articles' %}">Articles</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-2 is-offset-2">
                        <ul>
                            <li>
                                <img src="{% static 'img/download.svg' %}" style="max-height: 1em;" />
                                <a href="https://pypi.org/project/django-unicorn/">PyPI</a>
                            </li>
                            <li>
                                <img src="{% static 'img/github.svg' %}" style="max-height: 1em;" />
                                <a href="https://github.com/adamghill/django-unicorn">GitHub</a>
                            </li>
                            <li>
                                Unicorn logo from <a href="https://openmoji.org/library/#search=unicorn&emoji=1F984">openmoji</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
    
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
    
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
    
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
    
                    });
                });
            }
    
        });
    </script>
</body>

</html>