{% extends "www/bases/base.html" %}
{% load compress static %}

{% block styles %}

{% compress css %}
<link rel="stylesheet" href="{% static 'css/documentation.css' %}">
{% endcompress %}

{% endblock styles %}

{% block sidebar %}
<aside class="sidebar">
    <!--<div class="search">
        <div class="input-wrap">
            <input type="search" value="" aria-label="Search text" placeholder="Search">
            {% comment %} <div class="clear-button">
                <svg width="26" height="24">
                    <circle cx="12" cy="12" r="11" fill="#ccc"></circle>
                    <path stroke="white" stroke-width="2" d="M8.25,8.25,15.75,15.75"></path>
                    <path stroke="white" stroke-width="2" d="M8.25,15.75,15.75,8.25"></path>
                </svg>
            </div> {% endcomment %}
        </div>
        <div class="results-panel"></div>
    </div>-->
    {% comment %} <h1 class="app-name">
        <a class="app-name-link" href="/">django-unicorn</a>
    </h1> {% endcomment %}

    <div class="sidebar-nav">
        <ul>
            <li>
                <p>Documentation</p>
                <ul>
                    <li class="{% if request.path == '/documentation' %}active{% endif %}">
                        <a href="{% url 'www:documentation' %}">Introduction</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' %}#related">Related Projects</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/installation' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'installation' %}">Installation</a>
                        </li>
                    <li class="{% if request.path == '/documentation/faq' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'faq' %}">FAQ</a>
                    </li>
                    <li>
                        <p class="{% if request.path == '/documentation/changelog' %}active{% endif %}">
                            <a href="{% url 'www:documentation' 'changelog' %}">Changelog</a>
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <p>Components</p>
                <ul>
                    <li class="{% if request.path == '/documentation/components' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components' %}">The Basics</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components' %}#unicorn-attributes">Unicorn Attributes</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components' %}#property-types">Supported Property Types</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/components/templates' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components/templates' %}">Templates</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/templates' %}#polling">Polling</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/templates' %}#modifiers">Modifiers</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/templates' %}#chaining-modifiers">Chaining Modifiers</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/templates' %}#key">Key</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/components/django-models' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components/django-models' %}">Django Models</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/django-models' %}#class-model">Class Model</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/django-models' %}#instance-model">Instance Model</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/django-models' %}#db-model">DbModel</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/django-models' %}#queryset">Queryset</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/components/actions' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components/actions' %}">Actions</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/actions' %}#events">Events</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/actions' %}#passing-arguments">Passing Arguments</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/actions' %}#set">Set Shortcut</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/actions' %}#modifiers">Modifiers</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/actions' %}#special-methods">Special Methods</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/actions' %}#calling-methods">Calling Methods</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/components/validation' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components/validation' %}">Validation</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/validation' %}#showing">Showing Validation Errors</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/validation' %}#validate">Validate the Entire Component</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/components/loading-states' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components/loading-states' %}">Loading States</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/loading-states' %}#toggling-elements">Toggling Elements</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/loading-states' %}#toggling-attributes">Toggling Attributes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if request.path == '/documentation/components/advanced' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'components/advanced' %}">Advanced</a>
                        <ul class="app-sub-sidebar">
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/advanced' %}#properties">Properties</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/advanced' %}#methods">Methods</a>
                            </li>
                            <li>
                                <a class="section-link" href="{% url 'www:documentation' 'components/advanced' %}#meta">Meta</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <p>Examples</p>
                <ul>
                    <li class="{% if request.path == '/documentation/examples/todo' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'examples/todo' %}">Todo</a>
                        </li>
                    <li class="{% if request.path == '/documentation/examples/count' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'examples/count' %}">Count characters</a>
                    </li>
                    <li class="{% if request.path == '/documentation/examples/search' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'examples/search' %}">Search</a>
                    </li>
                    <li class="{% if request.path == '/documentation/examples/click' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'examples/click' %}">Click Counter</a>
                    </li>
                    <li class="{% if request.path == '/documentation/examples/validation' %}active{% endif %}">
                        <a href="{% url 'www:documentation' 'examples/validation' %}">Validation</a>
                    </li>
                    <!-- <li class="{% if request.path == '/documentation/examples/save' %}active{% endif %}"><a href="{% url 'www:documentation' 'examples/save' %}">Ajax save</a></li>
                    <li class="{% if request.path == '/documentation/examples/pagination' %}active{% endif %}"><a href="{% url 'www:documentation' 'examples/pagination' %}">Pagination</a></li> -->
                </ul>
            </li>
            <li>
                <p class="{% if request.path == '/documentation/settings' %}active{% endif %}">
                    <a href="{% url 'www:documentation' 'settings' %}">Settings</a>
                </p>
            </li>
            <li>
                <p class="{% if request.path == '/documentation/cli' %}active{% endif %}">
                    <a href="{% url 'www:documentation' 'cli' %}">CLI</a>
                </p>
            </li>
            <!--<li>
                <p class="{% if request.path == '/documentation/api' %}active{% endif %}"><a href="{% url 'www:documentation' 'api' %}">API</a></p>
            </li>-->
        </ul>
    </div>
</aside>
{% endblock sidebar %}